:root {
    --white: #FFFFFF;
    --Comfortaa: "Comfortaa";
    --Roboto: "Roboto";
    --Montserrat: "Montserrat";
}




header {
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #282828;
    background-image: url('./images/Header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



  
.nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 30px;
}
  
.nav_item {
    list-style-type: none;
}


.nav_item a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.site-header__icons {
    color: white;
    position: absolute;
    right: 300px;
}

.text-1 {
    color: white;
    font-family: var(--Montserrat);
    font-size: 22px;
    font-weight: 500;
    line-height: 26.82px;
    text-align: left;
}

.second-part {
    display: flex;
    gap: 20px;
}

.third-part {
    display: flex;
}

.text-2 {
    color: white;
    margin-top: 55px;
    font-family: var(--Montserrat);
    font-size: 22px;
    font-weight: 500;
    line-height: 26.82px;
    text-align: left;
}

.forth-part {
    display: flex;
    gap: 90px;
}

.text-3-1 {
    margin-top: 130px;
    color: white;
    font-family: var(--Montserrat);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: right;
}

.text-3-2 {
    margin-top: 100px;
    color: white;
    font-family: var(--Montserrat);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: right;
}

.cards {
    margin-left: 100px;
    display: flex;
    gap: 20px;
}

.card {
    height: 300px;
    width: 230px;
    background-color: white;
    align-items: center;
}

.iphone-texts {
    background-color: white;
    font-family: var(--Montserrat);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
}

.iphone-photo {
    margin-top: 10px;
    margin-left: 53px;
    margin-bottom: 5px;
}

.iphone-price {
    font-family: var(--Montserrat);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    background-color: white;
    text-align: center;
}

.iphone-button {
    Width:161px;
    height: 34px;
    align-items: center;
    background-color: #151515;
    color: white;
    justify-content: center;
    margin-left: 30px;
}

.button-text {
    font-family: var(--Montserrat);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    background-color: #151515;
}

.footer-part {
    width: 106%;
    height: 250px;
    background-color: #454343;
}

.last-list {
    margin-left: 20px;
}
